{
  "notice": "This file is maintained by MPaaS automatically.",
  "project": "MPRPCDemo_plugin",
  "copy": true,
  "targets": {
    "MPRPCDemo_plugin": {
      "author": "yemingyu",
      "time": "2020/03/25 16:54:57",
      "versions": {
        "mPaaS_LocalLog": {
          "APLog": "3.0.2.190701174234"
        },
        "mPaaS_RPC": {
          "APMobileNetwork": "1.0.0.200219172832",
          "SecurityGuardSDK": "2.2.3.190326110928",
          "APSecurityUtility": "1.2.0.171012202618",
          "mPaas": "1.0.0.200210192055",
          "APLog": "3.0.2.190701174234",
          "APOpenSSL": "1.0.0.190226125531",
          "MPMgsAdapter": "1.0.0.191111163231"
        },
        "mPaaS_OpenSSL": {
          "APOpenSSL": "1.0.0.190226125531"
        },
        "MPBaseTest": {
          "MPBaseTest": "1.0.0.190912140837",
          "APLog": "3.0.2.190701174234"
        },
        "mPaaS_DataCenter": {
          "MPDataCenter": "1.0.0.190917163242",
          "mPaas": "1.0.0.200210192055",
          "APLog": "3.0.2.190701174234"
        },
        "mPaaS_CommonUI": {
          "APCommonUI": "1.0.0.190917175635",
          "AntUI": "1.0.0.190906150048",
          "AntUIShellForMpass": "1.0.0.200109095318",
          "MPBadgeService": "1.0.0.190909104525",
          "MPDataCenter": "1.0.0.190917163242",
          "mPaas": "1.0.0.200210192055",
          "APLog": "3.0.2.190701174234"
        },
        "mPaaS_BadgeService": {
          "MPBadgeService": "1.0.0.190909104525",
          "MPDataCenter": "1.0.0.190917163242",
          "mPaas": "1.0.0.200210192055",
          "APLog": "3.0.2.190701174234"
        }
      },
      "baseline": "10.1.60",
      "pversion": "28",
      "custom": false,
      "frameworks": [
        "APLog.framework",
        "APMobileNetwork.framework",
        "SecurityGuardSDK.framework",
        "SGMain.framework",
        "APSecurityUtility.framework",
        "mPaas.framework",
        "APOpenSSL.framework",
        "MPMgsAdapter.framework",
        "MPBaseTest.framework",
        "MPDataCenter.framework",
        "APCommonUI.framework",
        "Masonry.framework",
        "AntUI.framework",
        "MBProgressHUD.framework",
        "AntUIShellForMpass.framework",
        "MPBadgeService.framework"
      ],
      "resources": [
        "APMobileNetwork.bundle",
        "APCommonUI.bundle",
        "MPBadgeService.bundle"
      ]
    }
  },
  "recent": "MPRPCDemo_plugin"
}